<div class="ui card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{fullname}}</a>
    <div class="meta">
      <span class="date">Webpage created in {{joined}}</span>
    </div>
    <div class="description">
      {{name}} is {{job}} in {{city}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="cogs icon"></i>
      {{age}} Years Old
    </a>
  </div>
</div>